# Ignore Python cache files
Python/**/__pycache__/

# Ignore compiled Python files
Python/**/*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
*.env

# Ignore logs
*.log

# Ignore node_modules
node_modules/

# Ignore npm packages
node_modules/

# Ignore npm debug logs
npm-debug.log*

# Ignore package-lock.json (if not needed in version control)
package-lock.json

# Ignore build outputs
dist/
build/

# Ignore Python virtual environments
venv/


Typescript/front-end/logs
*.log
Typescript/front-end/npm-debug.log*
Typescript/front-end/yarn-debug.log*
Typescript/front-end/yarn-error.log*
Typescript/front-end/pnpm-debug.log*
Typescript/front-end/lerna-debug.log*

Typescript/front-end/node_modules
Typescript/front-end/dist
Typescript/front-end/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?